<div
  class="relative min-h-[550px] rounded border border-gray-100 bg-white p-8 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <!-- ? Icon Recommend -->
  @if (subscriptionPlan().isRecommend) {
    <img
      src="./images/icons/recommend-subscription-plan.svg"
      alt="Most Popular"
      class="absolute right-2 top-1 rotate-12" />
  }

  <!-- ? Toggle Switch for checkout page -->
  @if (isShowToggle()) {
    <div class="mb-6 flex items-center justify-center gap-3">
      <p
        class="text-[15px] font-semibold"
        [ngClass]="{ 'opacity-70': isYearly() }">
        Gói Tháng
      </p>
      <p-toggleswitch
        class="relative top-1"
        (onChange)="onToggleSwitchChange($event)" />
      <p
        class="text-[15px] font-medium"
        [ngClass]="{ 'opacity-70': !isYearly() }">
        Gói Năm
      </p>
    </div>
  }

  <!-- ? Plan Information -->
  <h3 class="mb-5 text-center text-lg font-semibold">
    {{ subscriptionPlan().name }}
  </h3>
  <p
    class="mb-4 text-center text-lg font-medium dark:text-dark-100 xl:text-base lg:text-lg">
    <span
      class="text-3xl font-bold text-gray-800 dark:text-gray-200 xl:text-2xl lg:text-3xl">
      {{
        (isYearly()
          ? subscriptionPlan().pricePerYear
          : subscriptionPlan().priceMonthly
        ) | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN'
      }}
    </span>
    / {{ isYearly() ? 'năm' : 'tháng' }}
  </p>
  <p class="mx-auto mb-6 text-center dark:text-dark-100">
    {{ subscriptionPlan().description }}
  </p>

  <!-- ? Checkout Button -->
  <app-button
    width="full"
    class="flex items-center gap-2 py-[10px] text-lg font-extrabold sm:py-2"
    (clicked)="onClickBuyButton()">
    <span class="ml-1">Mua Ngay</span>
    <span
      class="material-symbols-outlined relative top-[5px] ml-1 text-xl leading-none">
      arrow_outward
    </span>
  </app-button>

  <!-- ? Plan Options -->
  <ul class="mt-6 flex flex-col gap-3">
    <li class="flex items-center gap-4">
      <span class="material-symbols-outlined text-success-500">check</span>
      <span class="text-[15px] font-medium dark:text-dark-100">
        Dung lượng lưu trữ:
        {{ subscriptionPlan().storageLimitGB | storageFormat }}
      </span>
    </li>
    <li class="flex items-center gap-4">
      <span class="material-symbols-outlined text-success-500">check</span>
      <span class="text-[15px] font-medium dark:text-dark-100">
        Số lượng tài khoản: {{ subscriptionPlan().maxUsers }} tài khoản
      </span>
    </li>
    @for (option of subscriptionPlanOptions(); track option) {
      <li class="flex items-center gap-4">
        <span class="material-symbols-outlined text-success-500">check</span>
        <span class="text-[15px] font-medium dark:text-dark-100">
          {{ option }}
        </span>
      </li>
    }
  </ul>
</div>
