<div class="mx-auto mt-4 flex w-[50%] flex-col">
  <!-- ? Teacher -->
  <div>
    <h3
      class="border-b border-[#e0e0e0] pb-2 text-[32px] font-semibold text-[#202124] dark:text-white">
      Giáo viên
    </h3>
    <ul class="mt-5">
      <li class="member-item">
        <img
          src="./images/logo.png"
          alt=""
          class="size-[32px] rounded-full object-contain" />
        <span class="font-semibold">Nguyen Quy (K17 QN)</span>
      </li>
    </ul>
  </div>

  <!-- ? Students -->
  <div class="mt-8">
    <h3
      class="flex items-center justify-between border-b border-[#e0e0e0] pb-2 text-[#202124] dark:text-white">
      <span class="text-[32px] font-semibold">Học sinh</span>
      <span class="text-sm font-semibold">17 học sinh</span>
    </h3>
  </div>
  <ul class="mt-5">
    <li class="member-item">
      <img
        src="./images/logo.png"
        alt=""
        class="size-[32px] rounded-full object-contain" />
      <span class="font-semibold">Nguyen Quy (K17 QN)</span>
    </li>
    <li class="member-item">
      <img
        src="./images/logo.png"
        alt=""
        class="size-[32px] rounded-full object-contain" />
      <span class="font-semibold">Nguyen Quy (K17 QN)</span>
    </li>
    <li class="member-item">
      <img
        src="./images/logo.png"
        alt=""
        class="size-[32px] rounded-full object-contain" />
      <span class="font-semibold">Nguyen Quy (K17 QN)</span>
    </li>
    <li class="member-item">
      <img
        src="./images/logo.png"
        alt=""
        class="size-[32px] rounded-full object-contain" />
      <span class="font-semibold">Nguyen Quy (K17 QN)</span>
    </li>
    <li class="member-item">
      <img
        src="./images/logo.png"
        alt=""
        class="size-[32px] rounded-full object-contain" />
      <span class="font-semibold">Nguyen Quy (K17 QN)</span>
    </li>
    <li class="member-item">
      <img
        src="./images/logo.png"
        alt=""
        class="size-[32px] rounded-full object-contain" />
      <span class="font-semibold">Nguyen Quy (K17 QN)</span>
    </li>
    <li class="member-item">
      <img
        src="./images/logo.png"
        alt=""
        class="size-[32px] rounded-full object-contain" />
      <span class="font-semibold">Nguyen Quy (K17 QN)</span>
    </li>
  </ul>
</div>
