<div
  class="mx-auto mt-4 flex w-[50%] flex-col xl:w-[60%] lg:w-[70%] md:w-[80%] sm:w-[95%]">
  <!-- ? Teacher -->
  <div>
    <h3
      class="border-b border-[#e0e0e0] pb-2 text-[32px] font-semibold text-[#202124] dark:text-white">
      Giáo viên
    </h3>
    <ul class="mt-5">
      <li class="member-item">
        <img
          [src]="classModel()?.teacherAvatarUrl"
          [alt]="classModel()?.teacherName"
          class="size-[32px] rounded-full object-contain" />
        <span class="font-semibold">{{ classModel()?.teacherName }}</span>
      </li>
    </ul>
  </div>

  <!-- ? Students -->
  <div class="mt-8">
    <h3
      class="flex items-center justify-between border-b border-[#e0e0e0] pb-2 text-[#202124] dark:text-white">
      <span class="text-[32px] font-semibold">Học sinh</span>
      <span class="text-sm font-semibold">
        {{ students().length }} học sinh
      </span>
    </h3>
  </div>
  <ul class="mt-5">
    @for (student of students(); track student.id) {
      <li class="member-item member-item--student">
        <div class="flex items-center gap-[18px]">
          <img
            [src]="student.studentAvatarUrl"
            [alt]="student.studentName"
            class="size-8 rounded-full object-contain" />
          <div class="flex flex-col gap-1">
            <span class="font-semibold">{{ student.studentName }}</span>
            <span class="xs:hidden">
              Tham gia lớp vào:
              {{ student.enrolledAt | date: "dd 'thg' MM, YYYY 'lúc' HH:mm" }}
            </span>
          </div>
        </div>
        <div class="relative">
          <p-button
            variant="text"
            styleClass="group"
            [rounded]="true"
            (onClick)="toggleMenuMemberItem(student.id)">
            <ng-template #icon>
              <span
                class="pi pi-ellipsis-v !opacity-60 transition-opacity group-hover:!opacity-100"
                style="font-size: 16px"></span>
            </ng-template>
          </p-button>
          @if (openedMenuMemberId() === student.id) {
            <div
              class="absolute left-0 top-[40px] z-[1] flex min-w-[150px] max-w-[280px] origin-top-left animate-scaleIn flex-col overflow-hidden rounded bg-[#f0f4f9] dark:bg-dark-400 sm:left-auto sm:right-0 sm:origin-top-right"
              clickOutsideSubmenu
              (clickOutside)="toggleMenuMemberItem(student.id)">
              <button
                class="flex h-10 items-center gap-2 px-4 text-primary transition-colors ease-in hover:bg-[#dee8f6] dark:hover:bg-dark-300"
                (click)="onRemoveStudent(student.studentId)">
                <span class="pi pi-trash"></span>
                <span>Xóa học sinh</span>
              </button>
            </div>
          }
        </div>
      </li>
    } @empty {
      <li>
        Hiện chưa có học sinh tham gia lớp. Hãy chia sẻ mã lớp để mời các bạn
        học sinh cùng tham gia lớp học.
      </li>
    }
  </ul>
</div>
