<app-auth-layout>
  <h1 class="mb-2 text-center text-xl font-bold">Đăng Nhập</h1>
  <p class="mb-6 text-center text-[15px] opacity-80">Chào mừng bạn trở lại</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <app-form-control
      formControlName="email"
      label="Email"
      type="email"
      placeholder="Email của bạn"
      [name]="'email'"
      [submitted]="submitted()"
      [email]="true"
      [required]="true" />
    <app-form-control
      formControlName="password"
      label="Mật khẩu"
      type="password"
      placeholder="Mật khẩu của bạn"
      [redirectLink]="{
        value: 'Quên mật khẩu?',
        href: '/auth/forgot-password',
      }"
      [name]="'password'"
      [submitted]="submitted()"
      [required]="true" />
    <p-button
      label="Đăng nhập"
      styleClass="mt-4 w-full"
      type="submit"
      [loading]="isLoading()"
      [disabled]="form.invalid || isLoading()" />
    <p
      class="mx-auto mt-1 text-center text-[12px] opacity-80 dark:text-[#64748b]">
      Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
      <a href="#!" tabindex="-1" class="cursor-pointer text-primary underline">
        điều khoản sử dụng
      </a>
      của chúng tôi.
    </p>
  </form>
</app-auth-layout>
