<div class="e-row e-g-4 e-g-md-6">
  <div class="e-col-12">
    <div
      class="rounded border border-gray-100 bg-white shadow-main dark:border-dark-500 dark:bg-dark-200">
      <div
        class="flex items-center justify-between border-b border-gray-100 p-5 dark:border-gray-800">
        <div class="flex items-center gap-2">
          <img
            src="./images/logo.png"
            alt="EDUVA"
            class="size-8 rounded-md object-contain" />
          <span class="text-base font-bold leading-none dark:text-white">
            EDUVA INVOICE:
            <span class="text-primary">
              #{{
                isCreditPack()
                  ? creditTransactionDetail()?.transactionCode
                  : schoolSubscriptionDetail()?.paymentTransaction
                      ?.transactionCode
              }}
            </span>
          </span>
        </div>
        <app-export-invoice-pdf
          [isCreditPack]="isCreditPack()"
          [creditTransactionDetail]="creditTransactionDetail()"
          [schoolSubscriptionDetail]="schoolSubscriptionDetail()" />
      </div>

      <div class="p-5">
        <div class="e-row mb-6">
          <div
            class="e-col-4 e-col-xl-5 e-col-lg-6 e-col-md-12 dark:text-[#ffffff80]">
            <p class="mb-2 text-[15px] font-semibold dark:text-[#ffffffB3]">
              Hóa đơn từ:
            </p>
            <p class="mb-2 text-[15px] font-bold text-dark-900 dark:text-white">
              EDUVA
            </p>
            <p class="mb-2 text-[15px]">
              <span class="font-semibold dark:text-[#ffffffB3]">Địa chỉ:</span>
              Đại học FPT Quy Nhơn, Tỉnh Gia Lai
            </p>
            <p class="mb-2 text-[15px]">
              <span class="font-semibold dark:text-[#ffffffB3]">
                Số điện thoại:
              </span>
              01234543234
            </p>
            <p class="mb-2 text-[15px]">
              <span class="font-semibold dark:text-[#ffffffB3]">Email:</span>
              eduva&#64;contact.com
            </p>
          </div>
          <div
            class="e-col-5 e-col-xl-5 e-col-lg-6 e-col-md-12 ml-auto dark:text-[#ffffff80]">
            <p class="mb-2 text-[15px] font-semibold dark:text-[#ffffffB3]">
              Hóa đơn đến:
            </p>
            <p class="mb-2 text-[15px] font-bold text-dark-900 dark:text-white">
              {{
                isCreditPack()
                  ? creditTransactionDetail()?.user?.fullName
                  : schoolSubscriptionDetail()?.user?.fullName
              }}
            </p>
            <p class="mb-2 text-[15px]">
              <span class="font-semibold dark:text-[#ffffffB3]">
                Số điện thoại:
              </span>
              {{
                isCreditPack()
                  ? creditTransactionDetail()?.user?.phoneNumber
                  : schoolSubscriptionDetail()?.user?.phoneNumber
              }}
            </p>
            <p class="mb-2 text-[15px]">
              <span class="font-semibold dark:text-[#ffffffB3]">Email:</span>
              {{
                isCreditPack()
                  ? creditTransactionDetail()?.user?.email
                  : schoolSubscriptionDetail()?.user?.email
              }}
            </p>
            @if (!isCreditPack()) {
              <p class="mb-2 text-[15px]">
                <span class="font-semibold dark:text-[#ffffffB3]">Trường:</span>
                {{ schoolSubscriptionDetail()?.school?.name }}
              </p>
            }
          </div>
        </div>

        <div
          class="e-row e-row-cols-md-12 e-row-cols-lg-2 e-g-4 mb-6 dark:text-[#ffffff80]"
          [ngClass]="{
            'e-row-cols-3': isCreditPack(),
            'e-row-cols-4': !isCreditPack(),
          }">
          <div class="e-col">
            <p class="mb-2 text-[15px] font-semibold dark:text-[#ffffffB3]">
              Mã hóa đơn:
            </p>
            <p class="mb-2 text-[15px]">
              #{{
                isCreditPack()
                  ? creditTransactionDetail()?.transactionCode
                  : schoolSubscriptionDetail()?.paymentTransaction
                      ?.transactionCode
              }}
            </p>
          </div>
          <div class="e-col">
            <p class="mb-2 text-[15px] font-semibold dark:text-[#ffffffB3]">
              {{ isCreditPack() ? 'Thời gian giao dịch' : 'Ngày bắt đầu:' }}
            </p>
            <p class="mb-2 text-[15px]">
              {{
                isCreditPack()
                  ? (creditTransactionDetail()?.createdAt
                    | date: 'HH:mm:ss, EEEE, dd MMMM, yyyy')
                  : (schoolSubscriptionDetail()?.startDate
                    | date: 'HH:mm:ss, EEEE, dd MMMM, yyyy')
              }}
            </p>
          </div>
          @if (!isCreditPack()) {
            <div class="e-col">
              <p class="mb-2 text-[15px] font-semibold dark:text-[#ffffffB3]">
                Ngày kết thúc:
              </p>
              <p class="mb-2 text-[15px]">
                {{
                  isCreditPack()
                    ? (creditTransactionDetail()?.createdAt
                      | date: 'HH:mm:ss, EEEE, dd MMMM, yyyy')
                    : (schoolSubscriptionDetail()?.endDate
                      | date: 'HH:mm:ss, EEEE, dd MMMM, yyyy')
                }}
              </p>
            </div>
          }
          <div class="e-col">
            <p class="mb-2 text-[15px] font-semibold dark:text-[#ffffffB3]">
              Tổng tiền:
            </p>
            <p class="mb-2 text-[15px]">
              {{
                isCreditPack()
                  ? (creditTransactionDetail()?.aiCreditPack?.price
                    | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN')
                  : (schoolSubscriptionDetail()?.paymentTransaction?.amount
                    | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN')
              }}
            </p>
          </div>
        </div>
        <div class="w-full overflow-x-auto">
          <table
            class="table w-full min-w-[800px] text-left dark:text-[#ffffffB3]">
            <thead>
              <tr>
                <th class="w-[5%] whitespace-nowrap !text-center">STT</th>
                <th class="w-[20%] whitespace-nowrap">Tên gói</th>
                @if (isCreditPack()) {
                  <th class="w-[20%] whitespace-nowrap">Số lượng Credits</th>
                  <th class="w-[20%] whitespace-nowrap">Credits tặng thêm</th>
                } @else {
                  <th class="w-[15%] whitespace-nowrap">Dung lượng Lưu trữ</th>
                  <th class="w-[20%] whitespace-nowrap">Số lượng tài khoản</th>
                  <th class="w-[15%] whitespace-nowrap">Loại gói</th>
                }
                <th class="w-[5%] whitespace-nowrap !pr-6 text-right">Giá</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">01</td>
                <td>
                  {{
                    isCreditPack()
                      ? creditTransactionDetail()?.aiCreditPack?.name
                      : schoolSubscriptionDetail()?.plan?.name
                  }}
                </td>
                @if (isCreditPack()) {
                  <td>
                    {{ creditTransactionDetail()?.aiCreditPack?.credits }}
                  </td>
                  <td>
                    {{ creditTransactionDetail()?.aiCreditPack?.bonusCredits }}
                  </td>
                } @else {
                  <td>
                    {{
                      schoolSubscriptionDetail()?.plan?.storageLimitGB ?? 0
                        | storageFormat
                    }}
                  </td>
                  <td>
                    {{ schoolSubscriptionDetail()?.plan?.maxUsers }} tài khoản
                  </td>
                  <td>
                    Gói
                    {{
                      schoolSubscriptionDetail()?.billingCycle === 0
                        ? 'Tháng'
                        : 'Năm'
                    }}
                  </td>
                }
                <td class="!pr-6 text-right">
                  {{
                    isCreditPack()
                      ? (creditTransactionDetail()?.aiCreditPack?.price
                        | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN')
                      : (schoolSubscriptionDetail()?.plan?.price
                        | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN')
                  }}
                </td>
              </tr>
              @if (!isCreditPack()) {
                <tr>
                  <td colspan="4"></td>
                  <td>Giảm giá:</td>
                  <td class="!pr-6 text-right">
                    {{
                      deductedAmount
                        | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN'
                    }}
                  </td>
                </tr>
              }
              <tr>
                <td [colSpan]="isCreditPack() ? '3' : '4'"></td>
                <td class="font-bold">Tổng:</td>
                <td class="!pr-6 text-right text-lg font-bold text-primary">
                  {{
                    isCreditPack()
                      ? (creditTransactionDetail()?.aiCreditPack?.price
                        | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN')
                      : (schoolSubscriptionDetail()?.paymentTransaction?.amount
                        | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN')
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="e-col-3 e-col-lg-12"></div>
  </div>
</div>
