<app-auth-layout>
  <h1 class="mb-2 text-center text-xl font-bold">Đổi Mật Khầu</h1>
  <p class="mb-6 text-center text-[15px] opacity-80">
    Mật khẩu của bạn phải có tối thiểu 8 ký tự, bao gồm cả chữ hoa, chữ thường,
    chữ số và ký tự đặc biệt (!$&#64;%...).
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <app-form-control
      label="Mật khẩu mới"
      type="password"
      placeholder="Mật khẩu mới"
      formControlName="password"
      [name]="'password'"
      [required]="true"
      [validatePassword]="true"
      [submitted]="submitted()" />
    <app-form-control
      label="Nhập lại mật khẩu mới"
      type="password"
      placeholder="Nhập lại mật khẩu mới"
      formControlName="confirmPassword"
      [confirmPassword]="form.get('password')?.value"
      [name]="'confirmPassword'"
      [required]="true"
      [submitted]="submitted()" />

    <p-button
      label="Đổi mật khẩu"
      styleClass="mt-3 w-full"
      type="submit"
      [disabled]="form.invalid || passwordMisMatch"
      [loading]="isLoading()" />
    <p class="text-center text-xs dark:text-[#64748b]">
      Quay lại&#160;
      <a routerLink="/auth/login" class="cursor-pointer text-primary underline">
        Đăng nhập
      </a>
    </p>
    <div
      class="mb-4 mt-3 h-[1px] w-full rounded-full bg-gray-100 opacity-80 dark:bg-gray-800"></div>
    <p class="mx-auto text-center text-[12px] opacity-80 dark:text-[#64748b]">
      Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
      <a router="#!" class="cursor-pointer text-primary underline">
        điều khoản sử dụng
      </a>
      của chúng tôi.
    </p>
  </form>
</app-auth-layout>
