<app-auth-layout>
  <h1 class="mb-2 text-center text-xl font-bold">Đổi Mật Khầu</h1>
  <p class="mb-6 text-center text-[15px] opacity-80">
    Mật khẩu của bạn phải có tối thiểu 8 ký tự, bao gồm cả chữ số, chữ cái và ký
    tự đặc biệt (!$&#64;%...).
  </p>

  <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <app-form-control
      label="Mật khẩu hiện tại"
      type="password"
      placeholder="Mật khẩu hiện tại"
      [name]="'currentPassword'"
      [(ngModel)]="currentPassword"
      [errorMessages]="{
        required: 'Vui lòng nhập mật khẩu hiện tại',
      }"
      [required]="true">
    </app-form-control>
    <app-form-control
      label="Mật khẩu mới"
      type="password"
      placeholder="Mật khẩu mới"
      [validatePassword]="true"
      [name]="'newPassword'"
      [(ngModel)]="newPassword"
      [errorMessages]="{
        passwordWeak: 'Độ khó mật khẩu chưa đạt yêu cầu.',
      }"
      [required]="true">
    </app-form-control>
    <app-form-control
      label="Nhập lại mật khẩu mới"
      type="password"
      placeholder="Nhập lại mật khẩu mới"
      [name]="'confirmPassword'"
      [(ngModel)]="confirmPassword"
      [confirmPassword]="newPassword()"
      [errorMessages]="{
        required: 'Vui lòng nhập mật khẩu hiện tại',
      }"
      [required]="true">
    </app-form-control>
    <app-button [width]="'full'" class="mt-4" [type]="'submit'"
      >Đổi mật khẩu</app-button
    >
    <p class="text-center text-xs dark:text-[#64748b]">
      Quay lại&#160;
      <a routerLink="/auth/login" class="cursor-pointer text-primary underline">
        Đăng nhập</a
      >
    </p>
    <div
      class="mb-4 mt-3 h-[1px] w-full rounded-full bg-gray-100 opacity-80 dark:bg-gray-800"></div>
    <p class="mx-auto text-center text-[12px] opacity-80 dark:text-[#64748b]">
      Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
      <a router="#!" class="cursor-pointer text-primary underline"
        >điều khoản sử dụng</a
      >
      của chúng tôi.
    </p>
  </form>
</app-auth-layout>
