<button
  [ngClass]="sizePaddingClass"
  [type]="type()"
  [disabled]="disabled() || loading()"
  (click)="onClick($event)">
  <!-- Left position spinner -->
  <ng-container *ngIf="loading() && loadingPosition() === 'left'">
    <span [class]="spinnerClasses" class="mr-2"></span>
  </ng-container>

  <ng-content></ng-content>

  <!-- Right position spinner -->
  <ng-container *ngIf="loading() && loadingPosition() === 'right'">
    <span [class]="spinnerClasses" class="ml-2"></span>
  </ng-container>
</button>
