<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="e-container-fluid mt-4 px-0">
  @if (isLoadingPacks()) {
    <div class="flex min-h-40 w-full items-center justify-center">
      <p-progress-spinner
        ariaLabel="loading"
        [style]="{ width: '60px', height: '60px' }" />
    </div>
  }

  <div class="e-row e-row-cols-3 e-g-1 e-gy-3">
    @for (creditPack of creditPacks(); track creditPack.id) {
      <div class="e-col">
        <div class="flex flex-col rounded-xl border border-gray-200 bg-white">
          <!-- ? Coin Value -->
          <label
            [for]="creditPack.id.toString()"
            class="mt-4 flex w-full cursor-pointer items-center justify-between px-8 py-6">
            <label
              [for]="creditPack.id.toString()"
              class="flex cursor-pointer items-center gap-1">
              <span class="text-[28px] font-semibold">
                {{ creditPack.credits }}
              </span>
              <img
                src="./images/icons/ecoin.png"
                alt="EDUVA Coin"
                class="relative -top-[2px] size-7" />
              <span>
                /
                {{
                  creditPack.price
                    | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN'
                }}
              </span>
            </label>
            <p-radiobutton
              formControlName="creditPackId"
              name="creditPackId"
              styleClass="relative -top-[3px]"
              [value]="creditPack.id"
              [inputId]="creditPack.id.toString()" />
          </label>

          @if (creditPack.bonusCredits > 0) {
            <!-- ? Separator -->
            <div class="mt-2 h-[1px] w-full bg-gray-200"></div>

            <!-- ? Bonus Value -->
            <label
              [for]="creditPack.id.toString()"
              class="flex w-full cursor-pointer items-center gap-2 px-8 py-2">
              <span>
                Được tặng
                <span class="font-semibold text-primary">
                  {{ creditPack.bonusCredits }} Ecoin
                </span>
              </span>
              <span class="pi pi-arrow-right" style="font-size: 12px"></span>
              <div>
                <span class="text-gray-400 line-through">
                  {{ creditPack.credits }} Ecoin
                </span>
                <span class="ml-1 font-semibold text-primary">
                  {{ creditPack.credits + creditPack.bonusCredits }} Ecoin
                </span>
              </div>
            </label>
          }
        </div>
      </div>
    }
  </div>

  <!-- ? Submit Button -->
  <div class="mt-4 flex w-full items-center justify-end">
    <p-button
      type="submit"
      label="Nạp Ecoin"
      size="large"
      styleClass="min-w-[180px]"
      [loading]="isLoadingSubmit()"
      [disabled]="form.invalid || isLoadingSubmit()" />
  </div>
</form>
