::ng-deep .p-datatable-table {
  border: 1px solid var(--color-border-secondary) !important;
  background-color: var(--color-bg-primary) !important;
}
::ng-deep .p-datatable-thead > tr > th {
  background-color: var(--color-secondary-100) !important;
  color: var(--color-text-primary) !important;
  font-size: 15px;
  padding-left: 24px !important;
  padding-right: 0 !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

::ng-deep .dark .p-datatable-thead > tr > th {
  background-color: var(--color-primary-500) !important;
}

::ng-deep .p-datatable-tbody > tr > td {
  background-color: var(--color-bg-primary) !important;
  color: var(--color-gray-700) !important;
  font-size: 15px;
  padding-left: 24px !important;
  padding-right: 0 !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

::ng-deep .dark .p-datatable-tbody > tr > td {
  color: var(--color-white) !important;
}

::ng-deep .p-paginator {
  padding: 20px 0 0 !important;
  background-color: var(--color-bg-primary) !important;
}

::ng-deep .p-paginator-page.p-paginator-page-selected {
  background-color: var(--color-primary-500) !important;
  align-items: center;
  color: var(--color-white) !important;
}

::ng-deep .p-paginator-page:hover,
::ng-deep .p-paginator-next:hover,
::ng-deep .p-paginator-prev:hover,
::ng-deep .p-paginator-first:hover,
::ng-deep .p-paginator-last:hover {
  background-color: var(--color-primary-500) !important;
  color: var(--color-white) !important;
}

::ng-deep .p-paginator-current {
  font-size: 15px !important;
  margin-right: auto !important;
  color: var(--color-gray-700) !important;
  padding-left: 8px !important;
}

::ng-deep .dark .p-paginator-current {
  color: var(--color-gray-500) !important;
}
