.menu-settings {
  position: absolute;
  bottom: 60px;
  z-index: 25;
  width: auto;
  border-radius: 4px;
  color: #000;
  background-color: #e5e5e5;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transform-origin: 90% bottom;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;
  cursor: default;
}

.menu-settings.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.menu-settings::after {
  position: absolute;
  top: 100%;
  right: 12px;
  content: '';
  border: 6px solid transparent;
  border-top-color: #e5e5e5;
}

.menu-title {
  position: relative;
  display: block;
  height: 30px;
  border-radius: 4px 4px 0 0;
  background: linear-gradient(90deg, #5ebbff 0%, #a174ff 100%);
}

.menu-content {
  display: block;
  width: 100%;
  font-size: 13px;
  text-align: left;
  overflow: hidden;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.1s linear;
}

.menu-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu-item:hover {
  background-color: #fff;
}

.menu-back {
  cursor: pointer;
}

.menu-back::before {
  position: absolute;
  top: 50%;
  left: 2px;
  content: '';
  border: 4px solid transparent;
  border-right-color: #fff;
  transform: translateY(-50%);
}

.menu-item--setting {
  position: relative;
  padding-right: 8px;
  padding-left: 25px;
}

.menu-item--setting.active {
  background: #fff;
}

.menu-item--setting span:not(.hd-icon) {
  position: absolute;
  top: 50%;
  left: 8px;
  display: none;
  transform: translateY(-50%);
}

.menu-item--setting.active span:not(.hd-icon) {
  display: block;
}

.item-icon {
  border: 4px solid transparent;
  border-left-color: #000;
  margin-left: 12px;
}

.hd-icon {
  display: inline-block;
  width: auto;
  max-height: 12px;
  padding: 2px;
  border-radius: 2px;
  margin: 0 0 12px 6px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  background-color: #cc0000;
  line-height: 0.9em;
  vertical-align: top;
}
