<div class="flex flex-col gap-4 px-4 pb-[15%]">
  <h2 class="text-gradient text-[180px] font-extrabold sm:text-[120px]">429</h2>
  <h1 class="text-[45px] font-black text-black dark:text-white sm:text-[30px]">
    Quá nhiều yêu cầu&nbsp;😅
  </h1>
  <div class="font-medium">
    <p>Bạn đã gửi quá nhiều yêu cầu trong một khoảng thời gian ngắn.</p>
    <p class="mt-2">
      Vui lòng chờ một chút và thử lại sau. Hệ thống sẽ tự động khôi phục sau
      vài phút
    </p>
  </div>

  <div class="mt-5 flex w-full items-center justify-center">
    <a
      routerLink="/auth/login"
      class="flex h-8 w-[148px] cursor-pointer select-none items-center justify-center overflow-hidden whitespace-nowrap rounded-full border-none bg-[#0093fc] p-0 font-bold uppercase text-white outline-none transition-opacity duration-200">
      Về trang chủ
    </a>
  </div>
</div>
