<div
  class="relative w-full rounded border border-gray-100 bg-white shadow-main dark:border-gray-900 dark:bg-dark-200">
  <div
    class="flex items-center gap-1 border-b border-gray-100 p-5 dark:border-gray-700">
    <div>
      <h2 class="text-base font-semibold">
        Đăng Ký Người Dùng Mới Theo Thời Gian
      </h2>
    </div>
    <div class="ml-auto">
      <p-select
        [options]="timeSelectOptions()"
        [ngModel]="timeSelect"
        (ngModelChange)="onTimeSelectChange($event)"
        optionLabel="name"
        placeholder="Chọn hiển thị theo thời gian"
        class="!dark:bg-dark-200 flex h-11 w-full items-center sm:w-56" />
    </div>
  </div>
  <div id="chart" class="p-5">
    @if (chartOptions()) {
      <apx-chart
        [series]="chartOptions()!.series"
        [chart]="chartOptions()!.chart"
        [xaxis]="chartOptions()!.xaxis"
        [yaxis]="chartOptions()!.yaxis"
        [title]="chartOptions()!.title"
        [tooltip]="chartOptions()!.tooltip"
        [dataLabels]="chartOptions()!.dataLabels"
        [stroke]="chartOptions()!.stroke"
        [colors]="chartOptions()!.colors"></apx-chart>
    }
  </div>
</div>
