<div
  class="max-h-[calc(100vh-40px)] w-full overflow-y-auto rounded bg-white dark:bg-dark-300">
  <header
    class="sticky left-0 top-0 z-[1] block w-full rounded-t-lg bg-gray-50 p-[25px] dark:bg-dark-400">
    <h2 class="text-lg">Xác nhận mật khẩu</h2>
    <span
      class="pi pi-times absolute right-[5px] top-[50%] -translate-y-[50%] cursor-pointer px-5 py-3 text-xl"
      (click)="closeModal()"></span>
  </header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mt-[25px] w-[380px] px-[25px] pb-0">
      <p class="dark:text-white">
        Để chắc chắn rằng bạn là chủ sở hữu tài khoản, vui lòng nhập mật khẩu
        hiện tại của bạn.
      </p>

      <div class="mt-4">
        <label for="currentPassword" class="font-bold dark:text-white">
          Mật khẩu hiện tại
        </label>
        <div
          class="relative mt-3 h-[45px] w-full rounded-md border-[1.5px] border-[#e9edf6] bg-white px-5 transition-colors duration-200 ease-in focus-within:border-primary dark:bg-dark-400"
          [ngClass]="{
            '!border-[#f33a58] dark:!border-[#f33a58]':
              currentPassword.invalid && currentPassword.touched,
          }"
          [style.backgroundColor]="
            currentPassword.invalid && currentPassword.touched
              ? '#ff00001a'
              : ''
          ">
          <input
            id="currentPassword"
            formControlName="currentPassword"
            name="currentPassword"
            placeholder="Nhập mật khẩu hiện tại của bạn"
            class="h-full w-full border-none bg-transparent outline-none placeholder:font-medium placeholder:tracking-wide placeholder:text-gray-500 dark:text-white dark:placeholder:text-gray-400"
            [class.text-[#f33a58]]="
              currentPassword.invalid &&
              currentPassword.touched &&
              currentPassword.dirty
            "
            [type]="isShowPassword() ? 'text' : 'password'"
            (blur)="onBlur('currentPassword')" />
          @if (isShowPassword()) {
            <span
              tabindex="-1"
              class="material-symbols-outlined absolute right-[14px] top-[17%] block cursor-pointer text-lg text-[#64748b]"
              (mousedown)="$event.preventDefault()"
              (click)="
                toggleShowPassword();
                $event.stopPropagation();
                $event.preventDefault()
              ">
              visibility
            </span>
          } @else {
            <span
              tabindex="-1"
              class="material-symbols-outlined absolute right-[14px] top-[17%] block cursor-pointer text-lg text-[#64748b]"
              (mousedown)="$event.preventDefault()"
              (click)="
                toggleShowPassword();
                $event.stopPropagation();
                $event.preventDefault()
              ">
              visibility_off
            </span>
          }
        </div>
        @if (currentPassword.invalid && currentPassword.touched) {
          <div class="mt-2 font-medium leading-normal text-[#f33a58]">
            {{ getErrorMessage('currentPassword') }}
          </div>
        }
        <a
          routerLink="/auth/forgot-password"
          class="mt-4 inline-block font-semibold text-primary underline">
          Bạn quên mật khẩu ư?
        </a>
      </div>
    </div>

    <footer
      class="sticky bottom-0 left-0 z-[1] mt-3 bg-white p-[25px] dark:bg-dark-300">
      <p-button
        label="Xác nhận"
        variant="outlined"
        type="submit"
        size="small"
        [fluid]="true"
        [loading]="isLoading()"
        [disabled]="form.invalid" />
    </footer>
  </form>
</div>
