<div class="flex flex-col gap-4 pb-[15%]">
  <h2 class="text-gradient text-[180px] font-extrabold">404</h2>
  <h1 class="text-[45px] font-black text-black dark:text-white">
    Không tìm thấy nội dung 😓
  </h1>
  <div class="font-medium">
    <p>Đường dẫn của nội dung này đã bị thay đổi hoặc không còn tồn tại.</p>
    <p class="mt-2">
      Nếu bạn đang lưu đường dẫn này, hãy thử truy cập lại từ trang chủ thay vì
      dùng đường dẫn đã lưu.
    </p>
  </div>
  <div class="mt-5 flex w-full items-center justify-center">
    <a
      routerLink="/auth/login"
      class="flex h-8 w-[148px] cursor-pointer select-none items-center justify-center overflow-hidden whitespace-nowrap rounded-full border-none bg-[#0093fc] p-0 font-bold uppercase text-white outline-none transition-opacity duration-200">
      Về trang chủ
    </a>
  </div>
</div>
