<div class="flex flex-col gap-6">
  <div
    class="rounded bg-white px-0 shadow-main dark:border-dark-500 dark:bg-dark-200">
    <div class="p-[25px]">
      <div
        class="flex items-center justify-between xs:flex-col xs:items-start xs:gap-y-2">
        <div class="xs:w-full">
          <app-search-input (search)="onSearch($event)" />
        </div>

        <div>
          <app-button
            variant="outline"
            class="mr-3 border-primary bg-transparent !text-primary shadow-none hover:bg-primary hover:!text-white lg:mr-2 sm:mr-3"
            (clicked)="goBackToLessonList()">
            <div class="flex items-center gap-2">
              <span class="pi pi-angle-left"></span>
              <span>Quay lại</span>
            </div>
          </app-button>
          <app-button
            variant="outline"
            class="border-primary bg-transparent !text-primary shadow-none hover:bg-primary hover:!text-white"
            (clicked)="openAddMaterialModal()">
            <div class="flex items-center gap-2">
              <span class="pi pi-plus"></span>
              <span>Thêm tài liệu mới</span>
            </div>
          </app-button>
        </div>
      </div>

      <div class="mt-5">
        @if (isLoading()) {
          <app-table-skeleton [tableHead]="tableHeadSkeleton()" />
        } @else {
          <div class="relative">
            <p-table
              [tableStyle]="{ 'min-width': '50rem' }"
              [scrollHeight]="'460px'"
              [scrollable]="true"
              [paginator]="false"
              [showCurrentPageReport]="true"
              [value]="materials()"
              currentPageReportTemplate="
              Hiển thị {first} đến {last} trên {totalRecords} tài liệu
            ">
              <ng-template #header>
                <tr>
                  <th scope="col" class="!min-w-[300px]">Tài liệu bài học</th>
                  <th scope="col" class="!min-w-[250px]">Người tạo tài liệu</th>
                  <th scope="col" class="!min-w-[250px]">
                    Lần sửa đổi cuối cùng
                  </th>
                  <th scope="col" class="!min-w-[150px] !text-center">
                    Kích thước tệp
                  </th>
                  <th scope="col" class="!min-w-[200px] !text-center">
                    Trạng thái
                  </th>
                  <th scope="col" class="!min-w-[200px] !text-center">
                    Chia sẻ
                  </th>
                  <th
                    scope="col"
                    class="!min-w-[180px] !border-l !border-l-white !text-center dark:!border-l-dark-500"
                    alignFrozen="right"
                    pFrozenColumn>
                    Hành động
                  </th>
                </tr>
              </ng-template>
              <ng-template #body let-material let-i="rowIndex">
                <tr>
                  <td>
                    <a
                      [routerLink]="[
                        '/teacher/file-manager/my-drive/material-detail',
                        material.id,
                      ]"
                      class="group flex items-center gap-2">
                      <i
                        class="material-symbols-outlined"
                        [ngClass]="getMaterialIconColor(material)">
                        {{ getMaterialIcon(material) }}
                      </i>
                      <span
                        [pTooltip]="material.title"
                        tooltipPosition="bottom"
                        class="line line-clamp-2 transition-colors group-hover:text-primary">
                        {{ material.title }}
                      </span>
                    </a>
                  </td>
                  <td>{{ material.createdByName }}</td>
                  <td>
                    {{
                      material.lastModifiedAt
                        ? (material.lastModifiedAt | date: 'fullDate')
                        : 'Chưa cập nhật'
                    }}
                  </td>
                  <td class="!text-center">
                    {{ material.fileSize | bytesToReadable: 'MB' : 2 }}
                  </td>
                  <td class="!text-center">
                    <div class="flex items-center justify-center">
                      <app-badge
                        class="whitespace-nowrap"
                        [variant]="
                          getMaterialStatusBadge(material.lessonStatus)
                        ">
                        {{ getMaterialStatusLabel(material.lessonStatus) }}
                      </app-badge>
                    </div>
                  </td>
                  <td class="!text-center">
                    <div class="flex items-center justify-center">
                      <app-badge
                        class="whitespace-nowrap"
                        [variant]="
                          material.visibility === 0 ? 'purple' : 'info'
                        ">
                        {{
                          material.visibility === 0
                            ? 'Riêng tư'
                            : 'Trong trường'
                        }}
                      </app-badge>
                    </div>
                  </td>
                  <td
                    class="!border-l !border-l-gray-100 !text-center dark:!border-l-dark-500"
                    alignFrozen="right"
                    pFrozenColumn>
                    <div class="flex items-center justify-center gap-2">
                      <a
                        [routerLink]="[
                          '/teacher/file-manager/my-drive/material-detail',
                          material.id,
                        ]">
                        <app-button
                          pTooltip="Xem chi tiết"
                          tooltipPosition="top"
                          variant="rounded"
                          size="xs"
                          class="material-symbols-outlined flex items-center justify-center border-none bg-transparent text-lg !text-primary shadow-none hover:bg-transparent">
                          visibility
                        </app-button>
                      </a>
                      <a
                        [routerLink]="[
                          '/teacher/file-manager/my-drive/update-material',
                          folderId(),
                          material.id,
                        ]">
                        <app-button
                          pTooltip="Chỉnh sửa"
                          tooltipPosition="top"
                          variant="rounded"
                          size="xs"
                          class="material-symbols-outlined flex items-center justify-center border-none bg-transparent text-lg !text-primary shadow-none hover:bg-transparent">
                          edit
                        </app-button>
                      </a>

                      <app-button
                        pTooltip="Chia sẻ bài học"
                        tooltipPosition="bottom"
                        variant="rounded"
                        size="xs"
                        class="material-symbols-outlined flex items-center justify-center border-none bg-transparent text-lg !text-primary shadow-none hover:bg-transparent"
                        (clicked)="onUpdateVisibility(material)">
                        share
                      </app-button>
                      <app-button
                        pTooltip="Chuyển vào thùng rác"
                        tooltipPosition="bottom"
                        variant="rounded"
                        size="xs"
                        class="material-symbols-outlined flex items-center justify-center border-none bg-transparent text-lg !text-danger shadow-none hover:bg-transparent"
                        (clicked)="onDeleteMaterial(material.id)">
                        delete
                      </app-button>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td colspan="100%">
                    <div class="h-[200px]"></div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            @if (materials().length === 0) {
              <div
                class="pointer-events-none absolute left-0 right-0 top-[60%] -translate-y-[50%]">
                <app-table-empty-state
                  icon="folder_off"
                  title="Không có tài liệu nào"
                  subtitle="Hãy thêm mới tài liệu để bắt đầu quản lý nội dung bài học." />
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
