<div
  class="rounded border border-gray-100 bg-white p-5 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <!-- Video -->
  <div
    class="relative flex w-full justify-center rounded bg-dark-900"
    [ngClass]="{
      'aspect-[2/1] sm:aspect-auto sm:h-[70vh]':
        lessonMaterial.contentType === 3,
      'aspect-[2/0.25] sm:aspect-[2/0.5]': lessonMaterial.contentType === 1,
      'aspect-video':
        lessonMaterial.contentType === 0 || lessonMaterial.contentType === 2,
    }"
    #preview>
    @if (lessonMaterial.contentType === 3) {
      <app-pdf-viewer [lessonMaterial]="lessonMaterial" />
    } @else if (lessonMaterial.contentType === 2) {
      <app-doc-viewer [lessonMaterial]="lessonMaterial" />
    } @else if (lessonMaterial.contentType === 0) {
      <app-video-viewer />
    } @else if (lessonMaterial.contentType === 1) {
      <app-audio-viewer />
    }
  </div>

  <!-- Content -->
  <div class="my-5 flex items-center justify-between sm:flex-wrap">
    <h1 class="font-nold text-2xl">
      {{ lessonMaterial.title }}
    </h1>
    <div class="flex items-center gap-4 sm:mt-4">
      <app-button
        [variant]="'outline'"
        class="flex items-center"
        (clicked)="approveLesson()">
        <span
          class="material-symbols-outlined relative top-[3px] mr-1 text-lg leading-none">
          check
        </span>
        <span>Duyệt</span>
      </app-button>
      <app-button
        [variant]="'outline-danger'"
        class="flex items-center"
        (clicked)="refuseLesson()">
        <span
          class="material-symbols-outlined relative top-[3px] mr-1 text-lg leading-none">
          close
        </span>
        <span>Từ chối</span>
      </app-button>
    </div>
  </div>
  <p class="my-3 dark:text-white">
    {{ formatUpdateDate(lessonMaterial.lastModifiedAt) }}
  </p>
  <div [class]="'lesson-content'" [innerHTML]="safeDescription()" #desc></div>
</div>
