<div
  class="e-container-fluid rounded bg-white px-0 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <div class="p-[25px]">
    <form action="">
      <div>
        <h3 class="mb-4 text-base font-semibold dark:text-white">
          Hồ sơ cá nhân:
        </h3>

        <personal-profile [isEdit]="isEdit()" />
      </div>

      <div class="mt-8">
        <h3 class="mb-4 text-base font-semibold dark:text-white">
          Thông tin liên hệ:
        </h3>

        <personal-contact [isEdit]="isEdit()" />
      </div>

      <div class="mt-8 flex justify-end gap-2">
        @if (isEdit()) {
          <p-button
            label="Hủy"
            icon="pi pi-times"
            severity="danger"
            variant="outlined"
            size="small"
            (onClick)="toggleEdit()" />
          <p-button
            label="Lưu thông tin"
            icon="pi pi-check"
            variant="outlined"
            size="small" />
        } @else {
          <p-button
            label="Chỉnh sửa thông tin"
            icon="pi pi-pencil"
            variant="outlined"
            size="small"
            (onClick)="toggleEdit()" />
        }
      </div>
    </form>
  </div>
</div>
