<ul class="file-manager-list">
  <li>
    <a routerLink="/teacher/file-manager" class="file-manager-link active">
      <span class="flex items-center gap-2">
        <i class="material-symbols-outlined text-lg !text-[#3371ed]">
          school
        </i>
        <span>Tất cả bài giảng</span>
      </span>
      <span class="!text-[#3A4252] dark:!text-[#e6e6e6]">4</span>
    </a>
  </li>
  <!-- <li>
    <a href="#!" class="file-manager-link">
      <span class="flex items-center gap-2">
        <i class="material-symbols-outlined text-lg !text-[#25b003]">school</i>
        <span>Bài giảng theo lớp</span>
      </span>
      <span class="!text-[#3A4252]  dark:text-[#e6e6e6]">10</span>
    </a>
    <ul class="file-manager-list-lv2 mt-4 pl-7">
      <li>
        <a href="#!" class="file-manager-link">
          <span class="flex items-center gap-2">
            <span
              class="block size-[6px] rounded-full border border-primary"></span>
            <span class="!font-normal">12_A3_DiaLy_2324</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#!" class="file-manager-link">
          <span class="flex items-center gap-2">
            <span
              class="block size-[6px] rounded-full border border-primary"></span>
            <span class="!font-normal">11_A2_Toan_2425</span>
          </span>
        </a>
      </li>
    </ul>
  </li> -->
  <li>
    <a routerLink="recent" class="file-manager-link">
      <span class="flex items-center gap-2">
        <i class="material-symbols-outlined text-lg !text-[#AD63F6]">
          schedule
        </i>
        <span>Gần đây</span>
      </span>
      <span class="!text-[#3A4252] dark:!text-[#e6e6e6]">20</span>
    </a>
  </li>
  <li>
    <a href="#!" class="file-manager-link">
      <span class="flex items-center gap-2">
        <i class="material-symbols-outlined text-lg !text-[#ffc107]">grade</i>
        <span>Quan trọng</span>
      </span>
      <span class="!text-[#3A4252] dark:!text-[#e6e6e6]">12</span>
    </a>
  </li>
  <li>
    <a routerLink="bin" class="file-manager-link">
      <span class="flex items-center gap-2">
        <i class="material-symbols-outlined text-lg !text-[#FF4023]">delete</i>
        <span>Thùng rác</span>
      </span>
      <span class="!text-[#3A4252] dark:!text-[#e6e6e6]">5</span>
    </a>
  </li>
</ul>
