.input-length:checked + .button-length {
  background-color: var(--color-button-active);
}

.input-length:checked + .button-length .pi-check {
  display: block;
}

.button-length {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 40px;
  padding: 0 24px;
  border: 1px solid #dde1eb;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}
