<button
  class="flex min-h-[230px] min-w-full flex-col rounded-xl border border-[#dde1eb] bg-transparent p-6 text-left"
  (click)="onNavigateToDetail(job().id)">
  <div class="flex justify-between">
    <img
      [src]="user()?.avatarUrl"
      [alt]="user()?.fullName"
      class="size-16 rounded-full object-cover" />
    <div class="relative" (click)="$event.stopPropagation()">
      <p-button
        variant="text"
        styleClass="group"
        [rounded]="true"
        (onClick)="toggleMenuJob(job().id)">
        <ng-template #icon>
          <span
            class="pi pi-ellipsis-v !opacity-60 transition-opacity group-hover:!opacity-100"
            style="font-size: 16px"></span>
        </ng-template>
      </p-button>
      @if (openedMenuJobId() === job().id) {
        <div
          class="absolute left-0 top-[40px] z-[1] flex min-w-[150px] max-w-[200px] origin-top-left animate-scaleIn flex-col overflow-hidden rounded bg-[#f0f4f9] dark:bg-dark-400 sm:left-auto sm:right-0 sm:origin-top-right"
          clickOutsideSubmenu
          (clickOutside)="toggleMenuJob(job().id)">
          <button
            class="flex h-10 items-center gap-2 px-4 text-primary transition-colors ease-in hover:bg-[#dee8f6] dark:hover:bg-dark-200"
            (click)="onRemoveJob(job().id)">
            <span class="pi pi-trash" style="font-size: 14px"></span>
            <span>Xóa phiên tạo</span>
          </button>
        </div>
      }
    </div>
  </div>
  <h3 class="mt-8 line-clamp-2 text-xl font-medium dark:text-white">
    {{ job().topic }}
  </h3>
  <span class="mt-auto text-xs text-gray-400 dark:text-gray-300">
    {{ job().createdAt | date: "dd 'thg' MM, YYYY 'lúc' HH:mm" }} ·
    {{ job().sourceBlobNames.length }} tài liệu
  </span>
</button>
