.file-type-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  border-radius: 8px;
  color: var(--color-heading);
}

@media screen and (max-width: 1399.98px) {
  .file-type-block {
    padding: 15px;
  }
}

@media screen and (max-width: 1199.98px) {
  .file-type-block {
    padding: 25px;
  }
}
