<div
  class="e-container rounded-lg bg-white px-0 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <div class="p-[25px]">
    <div class="e-row e-row-cols-4">
      <div class="col">
        <label
          for="video"
          class="file-type-block cursor-pointer select-none bg-purple-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="video" size="small" />

          <div class="flex items-center gap-3">
            <i class="material-symbols-outlined text-[45px] text-purple">
              movie
            </i>
            <span class="text-base font-bold">Video</span>
          </div>

          <div class="flex items-center justify-between">
            <span>387 Files</span>
            <span>4.5 GB</span>
          </div>
        </label>
      </div>

      <div class="col">
        <label
          for="audio"
          class="file-type-block cursor-pointer select-none bg-green-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="audio" size="small" />

          <div class="flex items-center gap-3">
            <i class="material-symbols-outlined text-[45px] text-green-500">
              volume_up
            </i>
            <span class="text-base font-bold">Audio</span>
          </div>

          <div class="flex items-center justify-between">
            <span>387 Files</span>
            <span>4.5 GB</span>
          </div>
        </label>
      </div>

      <div class="col">
        <label
          for="word"
          class="file-type-block cursor-pointer select-none bg-primary-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="word" size="small" />

          <div class="flex items-center gap-3">
            <i class="material-symbols-outlined text-[45px] text-primary">
              docs
            </i>
            <span class="text-base font-bold">WORD</span>
          </div>

          <div class="flex items-center justify-between">
            <span>387 Files</span>
            <span>4.5 GB</span>
          </div>
        </label>
      </div>

      <div class="col">
        <label
          for="pdf"
          class="file-type-block cursor-pointer select-none bg-orange-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="pdf" size="small" />

          <div class="flex items-center gap-3">
            <i class="material-symbols-outlined text-[45px] text-orange">
              picture_as_pdf
            </i>
            <span class="text-base font-bold">PDF</span>
          </div>

          <div class="flex items-center justify-between">
            <span>387 Files</span>
            <span>4.5 GB</span>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
