<div
  class="e-container-fluid rounded-lg bg-white px-0 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <div class="p-[25px] lg:p-5">
    <div class="e-row e-row-cols-4 e-row-cols-lg-2 e-row-cols-xs-1 e-g-lg-2">
      <div class="col">
        <label
          for="video"
          class="file-type-block cursor-pointer select-none bg-purple-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="video" size="small" />

          <div class="flex items-center gap-3 xl:gap-2 lg:gap-3 sm:gap-4">
            <i
              class="material-symbols-outlined text-[45px] text-purple xl:text-[40px] lg:text-[45px] sm:text-[50px]">
              movie
            </i>
            <span
              class="text-base font-bold xl:text-sm lg:text-base sm:text-lg">
              Video
            </span>
          </div>

          <div class="flex items-center justify-between">
            <span class="xl:text-xs lg:text-sm sm:text-base">387 Files</span>
            <span class="xl:text-xs lg:text-sm sm:text-base">4.5 GB</span>
          </div>
        </label>
      </div>

      <div class="col">
        <label
          for="audio"
          class="file-type-block cursor-pointer select-none bg-green-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="audio" size="small" />

          <div class="flex items-center gap-3 xl:gap-2">
            <i
              class="material-symbols-outlined text-[45px] text-green-500 xl:text-[40px] lg:text-[45px] sm:text-[50px]">
              volume_up
            </i>
            <span
              class="text-base font-bold xl:text-sm lg:text-base sm:text-lg">
              Audio
            </span>
          </div>

          <div class="flex items-center justify-between">
            <span class="xl:text-xs lg:text-sm sm:text-base">387 Files</span>
            <span class="xl:text-xs lg:text-sm sm:text-base">4.5 GB</span>
          </div>
        </label>
      </div>

      <div class="col">
        <label
          for="word"
          class="file-type-block cursor-pointer select-none bg-primary-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="word" size="small" />

          <div class="flex items-center gap-3 xl:gap-2">
            <i
              class="material-symbols-outlined text-[45px] text-primary xl:text-[40px] lg:text-[45px] sm:text-[50px]">
              docs
            </i>
            <span
              class="text-base font-bold xl:text-sm lg:text-base sm:text-lg">
              DOC
            </span>
          </div>

          <div class="flex items-center justify-between">
            <span class="xl:text-xs lg:text-sm sm:text-base">387 Files</span>
            <span class="xl:text-xs lg:text-sm sm:text-base">4.5 GB</span>
          </div>
        </label>
      </div>

      <div class="col">
        <label
          for="pdf"
          class="file-type-block cursor-pointer select-none bg-orange-50 dark:bg-dark-300">
          <p-checkbox [binary]="true" inputId="pdf" size="small" />

          <div class="flex items-center gap-3 xl:gap-2">
            <i
              class="material-symbols-outlined text-[45px] text-orange xl:text-[40px] lg:text-[45px] sm:text-[50px]">
              picture_as_pdf
            </i>
            <span class="text-base font-bold xl:text-sm lg:text-base sm:text-lg"
              >PDF</span
            >
          </div>

          <div class="flex items-center justify-between">
            <span class="xl:text-xs lg:text-sm sm:text-base">387 Files</span>
            <span class="xl:text-xs lg:text-sm sm:text-base">4.5 GB</span>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
