<div class="absolute inset-0">
  <ngx-extended-pdf-viewer
    style="width: 100%; height: 100%; display: block"
    [language]="'vi'"
    [showDownloadButton]="false"
    [showBorders]="true"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showSecondaryToolbarButton]="false"
    [showPresentationModeButton]="true"
    [handTool]="false"
    [showHighlightEditor]="false"
    [showTextEditor]="false"
    [showDrawEditor]="false"
    [showStampEditor]="false"
    [src]="materialSourceUrl()">
  </ngx-extended-pdf-viewer>
</div>
