<div
  class="max-h-[calc(100vh-40px)] w-full overflow-y-auto rounded-lg bg-white dark:bg-dark-300">
  <header
    class="sticky left-0 top-0 z-[1] block w-full rounded-t-lg bg-gray-50 p-[25px] dark:bg-dark-400">
    <h2 class="text-lg">
      {{
        modalData.isApproved
          ? 'Đồng ý phê duyệt bài giảng'
          : 'Từ chối phê duyệt bài giảng'
      }}
    </h2>
    <span
      class="pi pi-times absolute right-[5px] top-[50%] -translate-y-[50%] cursor-pointer px-5 py-3 text-xl"
      (click)="closeModal()"></span>
  </header>
  <form #reasonForm="ngForm" class="min-w-[550px] p-5">
    <app-form-control
      label="Lý đo"
      name="reason"
      [isTextarea]="true"
      [(ngModel)]="reason"
      [required]="true"
      [placeholder]="'Nhập lý do...'"
      [submitted]="submitted()"
      #reasonCtrl="ngModel">
    </app-form-control>
  </form>
  <div
    class="sticky bottom-0 left-0 z-[1] flex justify-end gap-2 bg-white p-[25px] dark:bg-dark-300">
    <p-button
      label="Hủy"
      variant="outlined"
      severity="danger"
      icon="pi pi-times"
      size="small"
      (onClick)="closeModal()" />
    <p-button
      label="Xác nhận"
      variant="outlined"
      icon="pi pi-check"
      size="small"
      [disabled]="!reason()"
      (onClick)="onSubmit(reasonForm)" />
  </div>
</div>
