<div
  class="group relative h-[280px] cursor-pointer rounded-md border border-[#dadce0] bg-white transition-shadow duration-200 ease-in-out hover:shadow-md dark:bg-dark-300 dark:hover:shadow-gray-700">
  <figure class="relative h-[120px] pt-[20%]">
    <div class="absolute left-4 top-4 z-10 flex flex-col gap-1">
      <h3 class="line-clamp-1 text-lg font-medium text-white">
        <a href="/" class="transitio-all duration-200 group-hover:underline">
          Địa lý lớp 10
        </a>
      </h3>
      <p
        class="transitio-all line-clamp-1 text-xs text-white duration-200 group-hover:underline">
        Trường THPT Tran Cao Van
      </p>
    </div>
    <p class="text absolute bottom-2 left-4 z-10 line-clamp-1 text-white">
      Tran Ngoc Sang (K17 QN)
    </p>
    <img
      src="https://gstatic.com/classroom/themes/img_code.jpg"
      alt=""
      class="absolute left-0 top-0 z-[1] h-full w-full rounded-tl rounded-tr object-cover" />
    <img
      src="https://lh3.googleusercontent.com/a/ACg8ocLwq6GdJkxsBAoKmlUIwnSj0egyMQGSaObdey2sDlBWyHoGXfA=s75-c-mo"
      alt=""
      class="absolute right-5 top-[60%] z-[2] size-[75px] rounded-full object-cover" />
  </figure>
  <div
    class="absolute bottom-0 left-0 right-0 flex h-16 items-center justify-end gap-2 border-t border-t-[#dadce0] p-3">
    <p-button label="Xem chi tiết" variant="outlined" size="small" />
  </div>
</div>
