<div class="flex flex-col gap-6">
  @if (currentView() === 'material') {
    <div>
      <file-type-filter />
    </div>
  }

  <div
    class="rounded bg-white px-0 shadow-main dark:border-dark-500 dark:bg-dark-200">
    <div class="p-[25px]">
      <div
        class="flex items-center justify-between xs:flex-col xs:items-start xs:gap-y-2">
        <div class="xs:w-full">
          <app-search-input (search)="onSearchTriggered(currentView())" />
        </div>

        <div>
          @switch (currentView()) {
            @case ('lesson') {
              <app-button
                [variant]="'outline'"
                (clicked)="openAddLessonModal()"
                class="border-primary bg-transparent !text-primary shadow-none hover:bg-primary hover:!text-white">
                <div class="flex items-center gap-2">
                  <span class="pi pi-plus"></span>
                  <span>Thêm bài giảng mới</span>
                </div>
              </app-button>
            }
            @case ('material') {
              <app-button
                [variant]="'outline'"
                (clicked)="backToLessonList()"
                class="mr-3 border-primary bg-transparent !text-primary shadow-none hover:bg-primary hover:!text-white lg:mr-2 sm:mr-3">
                <div class="flex items-center gap-2">
                  <span class="pi pi-angle-left"></span>
                  <span>Quay lại</span>
                </div>
              </app-button>
              <app-button
                [variant]="'outline'"
                (clicked)="openAddMaterialsModal()"
                class="border-primary bg-transparent !text-primary shadow-none hover:bg-primary hover:!text-white">
                <div class="flex items-center gap-2">
                  <span class="pi pi-plus"></span>
                  <span>Thêm tài liệu mới</span>
                </div>
              </app-button>
            }
          }
        </div>
      </div>

      <div class="mt-5">
        @if (currentView() === 'lesson') {
          <lesson-table (viewMaterials)="onViewMaterials($event)" />
        } @else {
          <material-table [lesson]="selectedLesson()!" />
        }
      </div>
    </div>
  </div>
</div>
