<div
  class="e-container-fluid rounded bg-white px-0 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <div class="p-[25px]">
    <!-- ? Two Factor -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col">
        <h3 class="font-semibold">Xác thực 2 bước</h3>
        <p class="dark:text-gray-300">
          Xác minh hai bước giúp tăng cường bảo mật và ngăn chặn các hành vi
          truy cập trái phép.
        </p>
      </div>
      <p-toggleswitch>
        <ng-template #handle let-checked="checked">
          <i
            [ngClass]="[
              '!text-[10px]',
              'pi',
              checked ? 'pi-check' : 'pi-times',
            ]"></i>
        </ng-template>
      </p-toggleswitch>
    </div>

    <!-- ? Change Password -->
    <form class="mt-5">
      <div class="flex flex-col">
        <h3 class="font-semibold">Đổi mật khẩu</h3>
        <p class="dark:text-gray-300">
          Mật khẩu của bạn phải có tối thiểu
          <strong class="font-semibold text-primary">8 ký tự*</strong>, bao gồm
          cả
          <strong class="font-semibold text-primary">
            chữ hoa, chữ thường, chữ số*
          </strong>
          và
          <strong class="font-semibold text-primary">
            ký tự đặc biệt (!$&#64;%...)*.
          </strong>
        </p>
      </div>
      <div class="mt-4">
        <div>
          <app-form-control
            label="Mật khẩu hiện tại"
            name="currentPassword"
            placeholder="Mật khẩu hiện tại" />
        </div>
        <div class="mt-3">
          <app-form-control
            label="Mật khẩu mới"
            name="currentPassword"
            placeholder="Mật khẩu mới" />
        </div>
        <div class="mt-3">
          <app-form-control
            label="Xác nhận mật khẩu"
            name="currentPassword"
            placeholder="Xác nhận mật khẩu" />
        </div>
      </div>

      <div class="mt-5 flex justify-end gap-2">
        <p-button
          label="Hủy"
          icon="pi pi-times"
          severity="danger"
          variant="outlined"
          size="small" />
        <p-button
          label="Đổi mật khẩu"
          icon="pi pi-check"
          variant="outlined"
          size="small" />
      </div>
    </form>
  </div>
</div>
