<div class="absolute inset-0 flex w-full items-center justify-center bg-black">
  <div
    id="video-wrapper"
    class="video-player relative box-border block h-full w-[95%] overflow-hidden text-sm text-white"
    [class.paused]="isPaused()">
    <vg-player
      (onPlayerReady)="onPlayerReady($event)"
      class="absolute right-0 top-0 h-full w-full">
      <video
        #videoPlayer
        [vgMedia]="$any(videoPlayer)"
        [preload]="preload()"
        crossorigin>
        <source [src]="materialSourceUrl()" type="video/mp4" />
      </video>
    </vg-player>

    <div class="overlay" (click)="togglePlayPause(); onMobileTap()"></div>

    <div
      class="background-bar"
      [class.opacity-100]="showMobileControls()"
      [class.visible]="showMobileControls()"
      [class.opacity-0]="!showMobileControls()"
      [class.invisible]="!showMobileControls()"></div>

    @if (showUiControls()) {
      <!-- ? Progress Bar -->
      <div
        class="progress-bar invisible opacity-0"
        [class.opacity-100]="showMobileControls()"
        [class.visible]="showMobileControls()"
        [class.opacity-0]="!showMobileControls()"
        [class.invisible]="!showMobileControls()">
        <span class="current-time">{{ formatTime(currentTime()) }}</span>
        <div
          class="progress-holder"
          (mousedown)="startSeekDrag($event)"
          (click)="seekTo($event)"
          #progressBar>
          <div class="load-progress" [style.width.%]="bufferedProgress()"></div>
          <div class="play-progress" [style.width.%]="playedProgress()"></div>
        </div>
        <span class="duration-time">{{ formatTime(duration()) }}</span>
      </div>

      <!-- ? Controls Bar -->
      <div
        class="controls-bar invisible opacity-0"
        [class.opacity-100]="showMobileControls()"
        [class.visible]="showMobileControls()"
        [class.opacity-0]="!showMobileControls()"
        [class.invisible]="!showMobileControls()">
        <div class="flex items-center">
          <!-- ? Rewind -->
          <button class="control-btn sm:hidden" (click)="rewind()">
            <fa-icon [icon]="'rotate-left'"></fa-icon>
          </button>
          <!-- ? Play -->
          <button
            class="control-btn"
            style="font-size: 22px"
            (click)="togglePlayPause()">
            <fa-icon [icon]="isPaused() ? 'play' : 'pause'"></fa-icon>
          </button>
          <!-- ? Forward -->
          <button class="control-btn sm:hidden" (click)="forward()">
            <fa-icon [icon]="'rotate-right'"></fa-icon>
          </button>
          <!-- ? Volume -->
          <div class="flex items-center gap-1">
            <button class="control-btn" (click)="toggleMute()">
              <fa-icon
                [icon]="
                  volumeLevel() === 0
                    ? 'volume-xmark'
                    : volumeLevel() <= 0.5
                      ? 'volume-low'
                      : 'volume-high'
                "></fa-icon>
            </button>
            <!-- ? Volume Control -->
            <div class="volume-control sm:hidden">
              <div
                class="volume-panel"
                (mousedown)="startVolumeDrag($event)"
                #volumeBar>
                <div
                  class="volume-level"
                  [style.width.%]="volumeLevel() * 100"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center">
          <!-- ? Quality -->
          <div
            class="control-btn quality-btn flex select-none items-center"
            (click)="onQualityBtnClick($event)">
            <span>
              {{ selectedQuality() }}p
              @if (
                selectedQuality() === '1440' || selectedQuality() === '1080'
              ) {
                <span class="hd-icon">HD</span>
              }
            </span>
          </div>

          <!-- ? Settings -->
          <button class="control-btn ml-6" (click)="onSettingsBtnClick($event)">
            <fa-icon [icon]="'gear'"></fa-icon>
          </button>

          <!-- ? Settings Menu -->
          <video-settings-menu
            [type]="menuType()"
            [isSettingsMenuOpen]="isSettingsMenuOpen()"
            [currentSettingsMenu]="currentSettingsMenu()"
            (closed)="onMenuClosed()"
            (menuChange)="onMenuChange($event)"
            (subtitleChange)="onSubtitleChange($event)"
            (playbackRateChange)="onRateChange($event)"
            (qualityChange)="onQualityChange($event)" />

          <!-- ? Expand -->
          <button class="control-btn" (click)="toggleFullscreen()">
            <fa-icon [icon]="'expand'"></fa-icon>
          </button>
        </div>
      </div>
    }

    @if (!hasStarted()) {
      <button
        class="btn big-btn play-btn play-btn-first-load"
        (click)="playVideo()">
        <fa-icon
          [icon]="'play'"
          class="relative left-[3px] text-[45px] text-white"></fa-icon>
      </button>
    }

    @if (hasStarted()) {
      <button
        class="btn big-btn big-btn-mobile play-btn play-btn-mobile hidden sm:flex"
        [class]="showingUiClass()"
        (click)="togglePlayPause()">
        <span
          class="pi"
          [class]="isPaused() ? 'pi-play relative left-[3px]' : 'pi-pause'"
          style="font-size: 30px"></span>
      </button>

      <button
        class="btn big-btn big-btn-mobile rewind-big-btn hidden sm:flex"
        [class]="showingUiClass()"
        (click)="rewind()">
        <fa-icon [icon]="'rotate-left'"></fa-icon>
      </button>

      <button
        class="btn big-btn big-btn-mobile forward-big-btn hidden sm:flex"
        [class]="showingUiClass()"
        (click)="forward()">
        <fa-icon [icon]="'rotate-right'"></fa-icon>
      </button>
    }

    @if (isLoading()) {
      <div class="loading-spinner animate-spin"></div>
    }
  </div>
</div>
