<div class="flex flex-col gap-4 px-4 pb-[15%]">
  <h2 class="text-gradient text-[100px] font-extrabold sm:text-[80px]">
    COMING SOON
  </h2>
  <h1 class="text-[45px] font-black text-black sm:text-[30px] dark:text-white">
    Trang đang được hoàn thiện ✨
  </h1>
  <div class="font-medium">
    <p>
      Chúng tôi đang làm việc chăm chỉ để mang đến cho bạn một trải nghiệm tốt
      nhất.
    </p>
    <p class="mt-2">Trang này sẽ sớm được cập nhật trong thời gian tới.</p>
  </div>
  <div class="mt-5 flex w-full items-center justify-center">
    <a
      routerLink="/"
      class="flex h-8 w-[148px] cursor-pointer select-none items-center justify-center overflow-hidden whitespace-nowrap rounded-full border-none bg-[#0093fc] p-0 font-bold uppercase text-white outline-none transition-opacity duration-200">
      Về trang chủ
    </a>
  </div>
</div>
