::ng-deep .p-datatable-table {
  border: 1px solid var(--color-border-secondary) !important;
  background-color: var(--color-bg-primary) !important;
}
::ng-deep .p-datatable-thead > tr > th {
  background-color: var(--color-secondary-100) !important;
  color: var(--color-text-primary) !important;
  font-size: 15px;
  padding-left: 24px !important;
  padding-right: 0 !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

::ng-deep .dark .p-datatable-thead > tr > th {
  background-color: var(--color-primary-500) !important;
}

::ng-deep .p-datatable-tbody > tr > td {
  background-color: var(--color-bg-primary) !important;
  color: var(--color-gray-700) !important;
  font-size: 15px;
  padding-left: 24px !important;
  padding-right: 0 !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

::ng-deep .dark .p-datatable-tbody > tr > td {
  color: var(--color-white) !important;
}
