<div
  class="rounded border border-gray-100 bg-white p-5 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <div class="mb-5 flex items-center justify-between">
    <app-search-input (search)="onSearchTriggered($event)" />
  </div>

  <p-table
    [value]="schools"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [first]="first()"
    [showCurrentPageReport]="true"
    (onLazyLoad)="loadProductsLazy($event)"
    [totalRecords]="totalRecords()"
    currentPageReportTemplate="
      Hiển thị {first} đến {last} trên {totalRecords} trường
    "
    (onPage)="pageChange($event)"
    [loading]="loading()">
    <ng-template #header>
      <tr>
        <th scope="col" class="!text-center">STT</th>
        <th scope="col" class="!w-1/4">Tên</th>
        <th scope="col" class="!w-[35%]">Địa chỉ</th>
        <th scope="col" class="!w-[15%]">Số điện thoại</th>
        <th scope="col" class="!w-[10%] !text-center">Trạng thái</th>
        <th scope="col" class="!w-[15%] !text-center">Hành động</th>
      </tr>
    </ng-template>
    <ng-template #body let-school let-i="rowIndex">
      <tr>
        <td class="!text-center">{{ i + 1 | leadingZero }}</td>
        <td>{{ school.name }}</td>
        <td>{{ school.address }}</td>
        <td>{{ school.phoneNumber }}</td>
        <td class="!text-center">
          <app-badge
            class="whitespace-nowrap"
            [variant]="school.status === 'active' ? 'success' : 'destructive'"
            >{{
              school.status === 'active' ? 'Đang hoạt động' : 'Vô hiệu hóa'
            }}</app-badge
          >
        </td>
        <td class="!text-center">
          <div class="mr-4 flex items-center justify-center gap-2">
            <a [routerLink]="['/admin/schools', school.id]">
              <app-button
                pTooltip="Xem chi tiết"
                tooltipPosition="top"
                [variant]="'light'"
                class="material-symbols-outlined px-[8px] pb-[1px] pt-[6px] text-lg"
                >visibility</app-button
              >
            </a>
            <app-button
              pTooltip="Chỉnh sửa"
              tooltipPosition="top"
              [variant]="'light'"
              class="material-symbols-outlined px-[8px] pb-[1px] pt-[6px] text-lg"
              >edit</app-button
            >
            <app-button
              pTooltip="Vô hiệu hóa"
              tooltipPosition="top"
              [variant]="'light-danger'"
              class="material-symbols-outlined px-[8px] pb-[1px] pt-[6px] text-lg"
              >unarchive</app-button
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
