<app-auth-layout>
  <h1 class="mb-2 text-center text-xl font-bold">Quên mật khẩu</h1>
  <p class="mb-6 text-center text-[15px] opacity-80">
    Nhập địa chỉ email bạn đã sử dụng khi đăng ký và chúng tôi sẽ gửi hướng dẫn
    để đặt lại mật khẩu.
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <app-form-control
      label="Email"
      type="email"
      placeholder="Email của bạn"
      formControlName="email"
      [redirectLink]="{
        value: 'Đăng nhập?',
        href: '/auth/login',
      }"
      [name]="'email'"
      [email]="true"
      [required]="true"
      [submitted]="submitted()" />

    <p-button
      label="Xác nhận email"
      styleClass="w-full mt-3"
      type="submit"
      [loading]="isLoading()" />
    <p
      class="mx-auto mt-1 text-center text-[12px] opacity-80 dark:text-[#64748b]">
      Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
      <a href="#!" class="cursor-pointer text-primary underline">
        điều khoản sử dụng
      </a>
      của chúng tôi.
    </p>
  </form>
</app-auth-layout>
