<app-auth-layout>
  <h1 class="mb-2 text-center text-xl font-bold">Quên Mật Khẩu</h1>
  <p class="mb-6 text-center text-[15px] opacity-80">
    {{
      currentUser()
        ? 'Địa chỉ email của bạn đã được điền sẵn. Nhấn “Xác nhận email” để nhận hướng dẫn đặt lại mật khẩu.'
        : 'Nhập địa chỉ email được liên kết với tài khoản của bạn. Hệ thống sẽ gửi hướng dẫn để đặt lại mật khẩu.'
    }}
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <app-form-control
      formControlName="email"
      name="email"
      label="Email"
      type="email"
      placeholder="Email của bạn"
      [redirectLink]="
        !currentUser()
          ? {
              value: 'Đăng nhập?',
              href: '/auth/login',
            }
          : null
      "
      [email]="true"
      [required]="true"
      [submitted]="submitted()" />

    <p-button
      label="Xác nhận email"
      styleClass="w-full mt-3"
      type="submit"
      [loading]="isLoading()"
      [disabled]="form.invalid || isLoading()" />
    <p
      class="mx-auto mt-1 text-center text-[12px] opacity-80 dark:text-[#64748b]">
      Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
      <a href="#!" class="cursor-pointer text-primary underline">
        điều khoản sử dụng
      </a>
      của chúng tôi.
    </p>
  </form>
</app-auth-layout>
