.lesson-content {
  --font-size: 14px;
  --line-height: 1.6;
  --color: #2e3441;
  --marginParagraph: 6px 0;

  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  word-break: break-word;
}

.dark :host ::ng-deep .lesson-content {
  color: #ffffffcc;
}

.lesson-content ::ng-deep p,
.lesson-content ::ng-deep ul,
.lesson-content ::ng-deep ol,
.lesson-content ::ng-deep code {
  margin: var(--marginParagraph, 14px 0);
}

.lesson-content ::ng-deep code {
  padding: 1px 3px;
  border-radius: 3px;
  color: var(--color-text-code-block);
  background-color: var(--color-bg-code-block) !important;
  white-space: pre-wrap;
  word-break: keep-all;
}

.lesson-content ::ng-deep blockquote {
  padding: 0 20px;
  border-left: 2px solid #0093fc !important;
}

.lesson-content ::ng-deep blockquote p {
  color: var(--color-text-blockquote);
  font-weight: 600;
  font-style: normal;
}

.lesson-content ::ng-deep p a {
  color: #0093fc;
  text-decoration: underline;
}

.lesson-content ::ng-deep .p-image-preview {
  margin: 24px auto;
}

.lesson-content ::ng-deep p-image {
  display: flex;
}

.lesson-content ::ng-deep img,
.lesson-content ::ng-deep .p-image-preview-mask {
  display: block;
  max-width: 100% !important;
  max-height: 420px;
  padding: 4px;
  border-radius: 12px;
  box-shadow: 0 0 0 1px var(--color-shadow-image);
}

.lesson-content ::ng-deep ul,
.lesson-content ::ng-deep ol {
  padding-left: 2em;
}

.lesson-content ::ng-deep ul {
  list-style: disc;
}

.lesson-content ::ng-deep ul ul {
  list-style: circle;
}

.lesson-content ::ng-deep ul ul ul {
  list-style: square;
}

.lesson-content ::ng-deep ol {
  list-style: decimal;
}

.lesson-content ::ng-deep ol ol {
  list-style: lower-latin;
}

.lesson-content ::ng-deep ol ol ol {
  list-style: lower-roman;
}

.lesson-content ::ng-deep ol ol ol ol {
  list-style: upper-latin;
}

.lesson-content ::ng-deep ol ol ol ol ol {
  list-style: upper-roman;
}

.lesson-content ::ng-deep li {
  margin-bottom: 0.5em;
}

.lesson-content ::ng-deep .text-tiny {
  font-size: 10px;
}

.lesson-content ::ng-deep .text-small {
  font-size: 12px;
}

.lesson-content ::ng-deep .text-big {
  font-size: 20px;
}

.lesson-content ::ng-deep .text-huge {
  font-size: 25px;
}

.loading-spinner {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 82px;
  height: 82px;
  margin-top: -43px;
  margin-left: -45px;
  border: 3px solid #fff;
  border-top-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
}

:host ::ng-deep .p-panel {
  background: transparent !important;
}
