<div
  class="rounded border border-gray-100 bg-white p-5 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <div
    class="relative flex w-full justify-center rounded bg-dark-900"
    [ngClass]="{
      'aspect-video':
        !lessonMaterial() ||
        lessonMaterial()?.contentType === 0 ||
        lessonMaterial()?.contentType === 3,
      'sm:!aspect-auto sm:h-[70vh]': lessonMaterial()?.contentType === 3,
      'aspect-[2/0.25] sm:aspect-[2/0.5]': lessonMaterial()?.contentType === 1,
      'aspect-[2/1] sm:aspect-auto sm:h-[70vh]':
        lessonMaterial()?.contentType === 2,
    }">
    @if (isLoading()) {
      <div class="loading-spinner animate-spin"></div>
    }

    @if (lessonMaterial() && !isLoading()) {
      <!-- Viewer -->
      @switch (lessonMaterial()?.contentType) {
        @case (0) {
          <app-video-viewer [materialSourceUrl]="lessonMaterial()!.sourceUrl" />
        }

        @case (1) {
          <app-audio-viewer [materialSourceUrl]="lessonMaterial()!.sourceUrl" />
        }

        @case (2) {
          <app-doc-viewer [materialSourceUrl]="lessonMaterial()!.sourceUrl" />
        }

        @default {
          <app-pdf-viewer [materialSourceUrl]="lessonMaterial()!.sourceUrl" />
        }
      }
    }
  </div>

  <!-- Info -->
  @if (isLoading() && !lessonMaterial()) {
    <app-preview-lesson-skeleton />
  } @else {
    <div class="mt-5 flex items-center justify-between sm:flex-wrap">
      <h3 class="font-nold text-2xl sm:text-lg">
        {{ lessonMaterial()?.title }}
      </h3>
      @if (isSchoolAdminOrMod() && isMaterialPending() && showActionButton()) {
        <div class="flex items-center gap-3 sm:mt-4">
          <p-button
            label="Duyệt"
            icon="pi pi-check"
            variant="outlined"
            size="small"
            (onClick)="approveLesson()" />
          <p-button
            label="Từ chối"
            icon="pi pi-times"
            variant="outlined"
            size="small"
            severity="danger"
            (onClick)="refuseLesson()" />
        </div>
      }
    </div>

    <p class="mt-2 dark:text-white">
      {{ formatUpdateDate(lessonMaterial()?.lastModifiedAt) }}
    </p>

    @if (lessonMaterialApproval() && isShowingFeedback() && isTeacherOrMod()) {
      <p-panel styleClass="mt-4" [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <p-avatar
              [image]="lessonMaterialApproval()?.approverAvatarUrl"
              shape="circle" />
            <span class="font-bold">
              {{ lessonMaterialApproval()?.approverName }} -
              {{
                lessonMaterialApproval()?.statusChangeTo === 1
                  ? 'Phê duyệt'
                  : 'Từ chối'
              }}
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex items-center justify-end">
            <span class="text-surface-500 dark:text-surface-400">
              {{ approvalRelativeDate }}
            </span>
          </div>
        </ng-template>
        <p class="mt-2">
          Kiểm duyệt viên
          <strong>{{ lessonMaterialApproval()?.approverName }}</strong> đã
          <strong>
            {{
              lessonMaterialApproval()?.statusChangeTo === 1
                ? 'phê duyệt'
                : 'từ chối'
            }}
          </strong>
          tài liệu của bạn với lí do:
        </p>
        <p
          class="mt-1"
          [innerHTML]="lessonMaterialApproval()!.feedback | safeHtml"></p>
      </p-panel>
    }

    @if (lessonMaterial()?.description) {
      <div class="lesson-content mt-5 pl-[7.5%] pr-[7.5%]">
        @for (block of contentBlocks(); track $index) {
          @if (block.type === 'html') {
            <div [innerHTML]="block.html | safeHtml"></div>
          }

          @if (block.type === 'image') {
            <p>
              <p-image
                [src]="block.src"
                [alt]="block.alt"
                [style]="{ width: block.width }"
                preview="true"
                loading="lazy"
                appendTo="body"></p-image>
            </p>
          }
        }
      </div>
    }
  }
</div>

@if (showCommentButton()) {
  <div class="fixed bottom-16 right-5">
    <p-button
      icon="pi pi-comments"
      size="large"
      [raised]="true"
      [rounded]="true"
      (onClick)="visible = true" />
  </div>
}

@if (showCommentButton() && lessonMaterial()) {
  <p-drawer
    header="Hỏi đáp"
    position="right"
    baseZIndex="900"
    styleClass="!w-[50vw] md:!w-[70vw] sm:!w-full"
    [closeOnEscape]="true"
    [(visible)]="visible">
    <ng-template #headless>
      <comment-modal
        [visible]="visible"
        [materialId]="lessonMaterial()!.id"
        [materialTitle]="lessonMaterial()!.title"
        [questionIdFromNotification]="questionIdFromNotification()"
        (closeCommentDrawer)="visible = false" />
    </ng-template>
  </p-drawer>
}
