<div class="flex flex-col gap-4 px-4 pb-[15%]">
  <h2
    class="text-gradient whitespace-nowrap text-[100px] font-extrabold sm:text-[50px]">
    Gói hết hạn
  </h2>
  <h1 class="text-[45px] font-black text-black dark:text-white sm:text-[30px]">
    Truy cập bị giới hạn&nbsp;🫠
  </h1>
  <div class="font-medium">
    <p>
      Gói dịch vụ của bạn đã hết hạn nên hiện tại không thể truy cập hệ thống.
    </p>
    <p class="mt-2">
      Vui lòng liên hệ với <strong>quản trị viên trường</strong> của bạn để gia
      hạn và tiếp tục sử dụng hệ thống.
    </p>
  </div>
  <div class="mt-5 flex w-full items-center justify-center">
    <button
      class="flex h-8 w-[180px] cursor-pointer select-none items-center justify-center overflow-hidden whitespace-nowrap rounded-full border-none bg-[#0093fc] p-0 font-bold uppercase text-white outline-none transition-opacity duration-200"
      (click)="onLogout()">
      Đăng nhập lại
    </button>
  </div>
</div>
