<div
  class="aspect-video h-full w-full"
  [ngClass]="{
    'sm:aspect-auto sm:h-[60vh] sm:w-[420px]':
      lessonMaterial().contentType === 0,
  }">
  <ngx-extended-pdf-viewer
    style="width: 100%; height: 100%; display: block"
    [showDownloadButton]="false"
    [showBorders]="true"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showSecondaryToolbarButton]="false"
    [showPresentationModeButton]="true"
    [handTool]="false"
    [showHighlightEditor]="false"
    [showTextEditor]="false"
    [showDrawEditor]="false"
    [showStampEditor]="false"
    [language]="'vi'"
    [src]="'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf'">
  </ngx-extended-pdf-viewer>
</div>
