<div
  class="max-h-[calc(100vh-40px)] w-full overflow-y-auto rounded-lg bg-white dark:bg-dark-300">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <header
      class="sticky left-0 top-0 z-[1] block w-full rounded-t-lg bg-gray-50 p-[25px] dark:bg-dark-400">
      <h2 class="text-lg">
        {{
          modalData.isApproved
            ? 'Đồng ý phê duyệt bài giảng'
            : 'Từ chối phê duyệt bài giảng'
        }}
      </h2>
      <span
        class="pi pi-times absolute right-[5px] top-[50%] -translate-y-[50%] cursor-pointer px-5 py-3 text-xl"
        (click)="closeModal()"></span>
    </header>
    <div class="min-w-[550px] p-5">
      <app-form-control
        formControlName="reason"
        name="reason"
        label="Lý do"
        placeholder="Nhập lý do..."
        [isTextarea]="true"
        [noSpace]="true"
        [submitted]="submitted()"
        [required]="!modalData.isApproved">
      </app-form-control>
    </div>
    <footer
      class="sticky bottom-0 left-0 z-[1] flex justify-end gap-2 bg-white p-[25px] dark:bg-dark-300">
      <p-button
        label="Hủy"
        variant="outlined"
        severity="danger"
        icon="pi pi-times"
        size="small"
        (onClick)="closeModal()" />
      <p-button
        type="submit"
        label="Xác nhận"
        variant="outlined"
        icon="pi pi-check"
        size="small"
        [loading]="isLoading()"
        [disabled]="form.invalid || isLoading()" />
    </footer>
  </form>
</div>
