.information-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #3a4252;
  transition: color 0.2s linear;
}

.information-link:hover span,
.information-link:hover .information-icon {
  color: var(--color-primary-500) !important;
}

.information-icon {
  position: relative;
  top: 1px;
  font-size: 18px;
  color: #3a4252;
}

.information-icon,
.information-link span {
  transition: color 0.2s linear;
}

.separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-border-primary);
}
