<div
  class="absolute right-0 top-[46px] w-[200px] rounded border border-gray-100 shadow-main dark:border-dark-500"
  clickOutsideSubmenu
  (clickOutside)="clickOutside.emit()">
  <div
    class="animate-fadeInForward rounded-md bg-white shadow-2xl transition-all duration-300 ease-in-out will-change-[opacity,transform] dark:bg-dark-200">
    <div class="w-full p-5">
      <div
        class="flex items-center gap-3 border-b border-b-gray-100 pb-3 dark:border-b-dark-500">
        <img
          [src]="user()?.avatarUrl"
          [alt]="user()?.fullName"
          class="h-[30px] w-[30px] rounded-[50%] object-contain outline outline-[#C2CDFF]" />
        <div class="flex flex-col">
          <span class="font-medium text-textBlack dark:text-white">
            {{ user()?.fullName }}
          </span>
          <span class="flex items-center gap-1 text-xs dark:text-[#e6e6e6]">
            Bạn có: {{ user()?.creditBalance }}
            <span class="material-symbols-outlined text-xs text-yellow-500">
              paid
            </span>
          </span>
        </div>
      </div>
      <ul>
        <li>
          <a routerLink="/school-admin/settings" class="information-link py-3">
            <span class="material-symbols-outlined dark:text-white">
              account_circle
            </span>
            <span class="dark:text-white">Trang cá nhân</span>
          </a>
        </li>
      </ul>

      <div class="separator dark:border-b-dark-500"></div>

      <ul>
        <li class="hidden sm:block">
          <button (click)="toggleDarkMode()" class="information-link pb-2 pt-3">
            <span
              class="material-symbols-outlined action-btn-icon dark:text-white">
              {{ isDarkMode() ? 'light_mode' : 'dark_mode' }}
            </span>
            <span class="dark:text-white">
              {{ isDarkMode() ? 'Bật giao diện sáng' : 'Bật giao diện tối' }}
            </span>
          </button>
        </li>
        <li class="hidden sm:block">
          <button
            (click)="toggleFullSCreen.emit()"
            class="information-link pb-2 pt-3">
            <span
              class="material-symbols-rounded action-btn-icon dark:text-white">
              {{ isFullScreen() ? 'fullscreen_exit' : 'fullscreen' }}
            </span>
            <span class="dark:text-white">
              {{ isFullScreen() ? 'Thu nhỏ màn hình' : 'Toàn màn hình' }}
            </span>
          </button>
        </li>
        <li>
          <a [routerLink]="settingsLink()" class="information-link pb-2 pt-3">
            <span class="material-symbols-outlined dark:text-white">
              settings
            </span>
            <span class="dark:text-white">Cài đặt</span>
          </a>
        </li>
        <li>
          <button class="information-link pt-2" (click)="logout()">
            <span class="material-symbols-outlined dark:text-white">
              logout
            </span>
            <span class="dark:text-white">Đăng xuất</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
