<div class="dark:bg-dark-300">
  <div class="flex h-screen items-center justify-center">
    <div class="relative xxxxxl:w-[416px]">
      <!-- Logo -->
      <div class="my-6 flex items-center justify-center">
        <a
          href="/"
          class="flex h-[70px] items-center gap-2 px-5 py-[14px] md:hidden">
          <img
            src="./images/logo.png"
            alt="EDUVA"
            class="size-9 rounded-md object-contain" />
          <span
            class="text-[22px] font-extrabold leading-none text-gray-900 dark:text-white">
            EDUVA
          </span>
        </a>
      </div>

      <!-- Form container -->
      <div
        class="relative mb-6 max-h-[calc(100vh-120px)] overflow-auto rounded border border-gray-100 bg-white shadow-auth dark:border-dark-500 dark:bg-dark-200">
        <div class="h-full p-12 pb-[52px]">
          <ng-content />
        </div>
      </div>
    </div>
  </div>
</div>
