::ng-deep .p-breadcrumb {
  background-color: transparent !important;
  padding-right: 0 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

::ng-deep .p-breadcrumb-list {
  flex-wrap: wrap !important;
}

@media screen and (max-width: 575.98px) {
  ::ng-deep .p-breadcrumb {
    padding-left: 0 !important;
  }
}
