<div class="flex flex-col gap-4 pb-[15%]">
  <h2 class="text-gradient text-[180px] font-extrabold">403</h2>
  <h1 class="text-[45px] font-black text-black dark:text-white">
    Bạn không có quyền truy cập 🚫
  </h1>
  <div class="font-medium">
    <p>Rất tiếc, bạn không được phép truy cập vào nội dung này.</p>
    <p class="mt-2">
      Có thể tài khoản của bạn chưa được cấp quyền. Vui lòng quay lại trang chủ
      hoặc liên hệ hỗ trợ nếu cần.
    </p>
  </div>
  <div class="mt-5 flex w-full items-center justify-center">
    <a
      routerLink="/auth/login"
      class="flex h-8 w-[148px] cursor-pointer select-none items-center justify-center overflow-hidden whitespace-nowrap rounded-full border-none bg-[#0093fc] p-0 font-bold uppercase text-white outline-none transition-opacity duration-200">
      Về trang chủ
    </a>
  </div>
</div>
