:host {
  flex-grow: 1;
  height: 100%;
}

.loader {
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-heading);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 739.98px) {
  .comment-modal-content {
    padding: 18px;
  }
}
