<div class="flex flex-col">
  @switch (audioState()) {
    @case ('empty') {
      <!-- ? Empty State -->
      <div class="flex items-center gap-2">
        <div
          class="flex size-14 items-center justify-center rounded-full bg-[#ebf1fd] dark:bg-dark-400">
          <span class="material-symbols-rounded select-none dark:text-white">
            speaker
          </span>
        </div>
        <div class="flex flex-col">
          <span class="font-semibold dark:text-white">
            Chưa có Audio nào được tạo
          </span>
          <span class="text-gray-500 dark:text-gray-300">
            Tải tài liệu hoặc nhập yêu cầu
          </span>
        </div>
      </div>
      <p-button
        tooltipPosition="bottom"
        label="Tạo nội dung"
        styleClass="mt-4"
        [pTooltip]="
          hasGeneratedSuccessfully()
            ? 'Bạn đã tạo nội dung cho bài giảng này. Nếu muốn tạo lại, vui lòng tạo 1 phiên tạo nội dung mới.'
            : 'Hãy tải tài liệu lên, nhập yêu cầu và chọn cài đặt giọng đọc trước khi tạo'
        "
        [rounded]="true"
        [fluid]="true"
        [disabled]="disableGenerate()"
        (onClick)="confirmGenerateAudio()" />
    }

    @case ('loading') {
      <!-- ? Loading State -->
      <div class="flex items-center gap-2">
        <div
          class="flex size-14 shrink-0 items-center justify-center rounded-full bg-[#ebf1fd] dark:bg-dark-400">
          <p-progress-spinner
            ariaLabel="loading"
            styleClass="relative top-1 !h-[35px] !w-[35px]" />
        </div>
        <div class="flex flex-col">
          <span class="font-semibold dark:text-white">
            Đang tạo bài giảng dựa trên {{ totalCheckedSources() }} tài liệu
          </span>
          <span class="text-gray-500 dark:text-gray-300">
            Quá trình này sẽ mất vài phút. Bạn có thể làm việc khác trong lúc
            chờ!
          </span>
        </div>
      </div>
    }

    @case ('generated') {
      @if (audioUrl()) {
        <audio-preview-player [audioUrl]="audioUrl()" />
      }
    }
  }
</div>
